.taskStatus {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    padding-top: 6rem;
    margin: 0 4rem 2rem 4rem;
    /* margin-left: 4rem;
    margin-right: 4rem; */
}

.taskStatusItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.taskCreated {
    color: var(--blue-light);
    font-weight: bold;
}

.taskCompleted {
    color: var(--purple-light);
    font-weight: bold;
}

.taskCount {
    color: var(--gray-200);
    background-color: var(--gray-400);
    padding: .2rem .8rem .2rem .8rem;
    border-radius: 15px;
}
